.collapsible {

}

.small {
    font-size: 9px;
    text-decoration: underline;
    cursor: pointer;
}

.collapsible1 {

}

.small {
    font-size: 9px;
    text-decoration: underline;
    cursor: pointer;
}
.collapsible2 {

}

.small {
    font-size: 9px;
    text-decoration: underline;
    cursor: pointer;
}